<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/no-js-responsive-menu.css")
    title Document
  body
    nav.navbar
      .container
        a(href="").navbar-brand no-js-responsive-menu
        input(type="checkbox")#navbar-checkbox.navbar-checkbox
        label(for="navbar-checkbox").navbar-switch
          span
          span
          span
        .navbar-menu 
          a(href="").navbar-menu-item Home
          a(href="").navbar-menu-item Blog
          a(href="").navbar-menu-item About
          a(href="").navbar-menu-item Contact